.topic {
  /*position: absolute;*/
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: lightblue;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 0.5em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
